html,body
{
  height: 100%;
   margin: 0px;
   font-size: 16px;
   font-family: "Lato",sans-serif;
   font-weight: 400px;
   line-height: 1.8em;
   color: #666;
}


.pimg1
{
     background-image: url(images/pic3.jpg); 
     min-height: 100%; 
    

}

.pimg2
{
     background-image: url(images/pic1.jpg); 
     min-height: 400px; 
    }
.pimg3
{
     background-image: url(images/pi5.jpg); 
     min-height: 400px; 
    }
    .pimg7
    {
         background-image: url(images/pic7.jpg); 
         min-height: 400px; 
        }
.pimg1, .pimg2,.pimg3,.pimg7
{
   
    position :relative;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;

}

.ptext
{
    position:absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
} 
.textBg
{
    color:#fff;
    background: #313534;
    padding:20px;
    
}

.section{
    padding: 50px 80px;
    text-align: center;
}
.section-light
{
    color:#666;
    background-color: #f4f4f4;
}

.section-Dark
{
    color: #ddd ;
    background-color:   #282e34;
}